numpy
scipy
pandas
matplotlib
seaborn
statsmodels
joblib
threadpoolctl
sympy
pytest
jupyter
notebook
ipython
ipywidgets
scikit-image
tensorflow
keras
pytorch
lightgbm
xgboost
catboost
nltk
spacy
gensim
textblob
flask
django
sqlalchemy
pyodbc
mysql-connector-python
psycopg2
plotly
dash
streamlit
bokeh
altair
holoviews
networkx
pillow
opencv-python
graphviz
pydot
pymc3
arviz
beautifulsoup4
lxml
pyarrow
fastparquet
h5py
azureml-sdk